.comment {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: white;
  margin: 1rem 0;
}

.comment--is-child {
  margin-right: 2rem;
  border: 1px solid gray;
}

.comment__footer {
  font-size: 14px;
}
