.comments-section {
  margin-block: 2rem;
  margin-inline-start: 2rem;
}

.comments-section__title {
  font-size: $h4-font-size;
  margin-block-end: 1rem;
  font-weight: 700;
}

.comments-section__loading {
  text-align: center;
}

.comments-section__error {
  text-align: center;
}
