.app-sidebar {
  width: 300px;
  @include media-breakpoint-down(sm) {
    // Larger than sm: 576px
    width: 100%;
  }
  flex-shrink: 0;
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.app-sidebar__title {
  font-size: $h4-font-size;
  font-weight: 800;
}

.app-sidebar__links {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.app-sidebar__link-item {
  margin: 10px 0;
}

.app-sidebar__link {
  color: #c09a03;
  font-size: 18px;
  font-weight: 600;
  &:hover {
    color: #a18101;
  }
  border: none;
  text-decoration: none;
}
